.fizz, .buzz, .fizzbuzz, .number {
  padding: 10px;
  width: 86px;
  border: 1px solid;
  text-align: center;
}
.fizz {
  background-color: rgba(17, 220, 37, 0.5);
}
.buzz {
  background-color: rgba(255, 0, 0, 0.5);
}
.fizzbuzz {
  background-color: rgba(255, 153, 0, 0.5);
}
#outputGrid {
  padding: 5%;
}
h1, h4 {
  text-align: center;
}
.navbar{
  background-color: aqua;
}